* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

body { 
    float: none !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 15px; 
    background-color:#05668D;
}

@media only screen and (min-resolution: 300dpi) {
    /* CSS for high resolution screens */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* CSS for varying screen sizes*/
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:aliceblue;
    text-align: center;
    font-size: 2vw;
    color: #05668D;
}

nav a {
    display: inline-block;
    color: #05668D;
    text-decoration: none;
    width: 20vw;
    height: 3vw;
    line-height: 3vw;
    padding: 0 3vw;
}

nav a:hover {
    background-color:#05668D;
    color: aliceblue;
    border-radius: 0 0 1vw 1vw;
}

nav a.active {
    background-color:#59d2fe;
    border-radius: 0 0 1vw 1vw;
    color: aliceblue;
}

header {
    text-align: center;
}

header h1 {
    display: inline-block;
    margin-top: 3vw;
    padding: 60px;
    color: aliceblue;
    font-size: 100px;
}

#container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 30px;
    color: #05668D;
    background-color: aliceblue;
    text-align: center;
    border-radius: 1vw;
    width: 500px;
    height: 300px;
}

#container h2 {
    margin: 20px;
}

.btn {
    font-size: 30px;
    color: aliceblue;
    background-color: #59d2fe;
    display: inline-block;
    border-radius: 1vw;
    padding: 10px;
    width: 200px;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 40px;
}

.btn:hover {
    background-color:#05668D;
}

footer {
    background-color:aliceblue;
    color:#05668D;
    font-size: 2vw;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer p {
    text-align: center;
    height: 3vw;
    line-height: 3vw;
}

@media only screen and (min-width: 0) and (max-width: 580px) {
    footer a,
    footer p {
        padding: 0 1vw;
    }
}