* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

body { 
    float: none !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 15px; 
    background-color:#59d2fe;
}

@media only screen and (min-resolution: 300dpi) {
    /* CSS for high resolution screens */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* CSS for varying screen sizes*/
}

nav {
    position: fixed;
    top: 0;
    width: 95%;
    margin: 0 2.5%;
    background-color:#00A896;
    text-align: center;
    font-size: 2vw;
    color: aliceblue;
    border-radius: 0 0 2vw 2vw;
}

nav a {
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    width: 15vw;
    height: 3vw;
    line-height: 3vw;
    padding: 0 3vw;
}

nav a:hover {
    background-color:#05668D;
    border-radius: 0 0 2vw 2vw;
}

nav a.active {
    background-color:rgb(35, 81, 141);
    border-radius: 0 0 2vw 2vw;
}

#h1-img {
    margin-top: 3vw;
    padding: 4vw 0;
}

#heading-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    border-style: solid;
    border-width: 5px 0 5px 0;
    border-color: aliceblue;
}

#h1-background {
    background-image: url(../Images/project-h1.png);
    width: 100%;
    height: 8vw;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    text-align: center;
    font-size: 6.5vw;
    color: #05668D;
    margin: 4vw 0;
}

#project-about p,
#project-about h3 {
    padding: 2vw 2vw;
    margin: 0 10% 2vw;
    background-color: #05668D;
    color: aliceblue;
    border-radius: 2vw;
}

#project-about {
    padding: 0 0 2vw 0;
}

footer {
    background-color:#00A896;
    color:aliceblue;
    font-size: 2vw;
    padding: 0 10%;
    width: 95%;
    margin: 0 2.5%;
    border-radius: 2vw 2vw 0 0;
}

footer a {
    text-decoration: none;
    float: right;
    height: 3vw;
    line-height: 3vw;
    color: aliceblue;
    padding: 0 3vw;
}

footer p {
    display:inline-block;
    height: 3vw;
    line-height: 3vw;
    padding: 0 3vw;
}

footer a:hover {
    background-color:#05668D;
    border-radius: 2vw 2vw 0 0;
    color: aliceblue;
}

@media only screen and (min-width: 0) and (max-width: 580px) {
    footer a,
    footer p {
        padding: 0 1vw;
    }
}