* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

html {
    position: relative; /*To allow for use of absolute with footer*/
    min-height: 100%; /*Keeps footer at 'bottom:0;' */
}

body { 
    float: none !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 15px; 
    background-color:#81c3c9;
}

nav {
    position: fixed;
    top: 0;
    width: 95%;
    margin: 0 2.5%;
    background-color:#00A896;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    border-radius: 0 0 20px 20px;
}

nav a {
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
}

nav a:hover {
    background-color:#05668D;
}

nav a.active {
    background-color:#81c3c9;
}

@media only screen and (max-width: 640px) {
    nav a {
        margin: 0;
        width: 130px;
    }

    nav {
        font-size: 25px;
    }
}

#h1-img {
    margin-top: 40px;
    padding: 40px 0;
}

#heading-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
}

#h1-background {
    background-color: aliceblue;
    width: 100%;
    height: 120px;
}

header h1 {
    text-align: center;
    font-size: 90px;
    color: #028090;
    margin: 40px 0;
    vertical-align: middle;
    line-height: 120px; 
}

.projects {
    padding: 0 0 40px 0;
    margin: 0 10%;
}

.projects img {
    height: 380px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 20px;
}

.projects-h2,
.projects-p {
    padding: 20px 20px;
    margin-bottom: 20px;
    background-color: #028090;
    color: aliceblue;
    border-radius: 20px;
}

.projects-h2 {
    border-style: solid;
    border-width: 5px;
    border-color: aliceblue;
}

.click {
    width: 100%;
    text-align: center;
}

.projects a {
    text-decoration: none;
    color: #02C39A;
    font-size: 25px;
    padding: 20px 20px;
    width: 380px;
    display:inline-block;
    margin:0 auto;
    border-radius: 20px;
    text-align: center;
    background-color: aliceblue;
    border-width: 5px;
    border-color: aliceblue;
    border-style: solid;
}

.projects a:hover {
    background-color: #02C39A;
    color: aliceblue; 
    border-radius: 20px;
    border-width: 5px;
    border-color: aliceblue;
    border-style: solid;
}

footer {
    background-color:#00A896;
    color:aliceblue;
    font-size: 30px;
    padding: 0 5%;
    width: 95%;
    margin: 0 2.5%;
    border-radius: 20px 20px 0 0;
}

footer a {
    text-decoration: none;
    float: right;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: aliceblue;
    padding: 0 10px;
}

footer p {
    display:inline-block;
    height: 40px;
    line-height: 40px;
}

footer a:hover {
    background-color:#05668D;
    color: aliceblue;
}

@media only screen and (max-width: 880px) {
    footer {
        font-size: 20px;
    }
}

  @media only screen and (max-width: 600px) {
    footer {
        font-size: 15px;
    }
}