* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

body { 
    float: none !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 15px; 
}

@media only screen and (min-resolution: 300dpi) {
    /* CSS for high resolution screens */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* CSS for varying screen sizes*/
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:darkslategray;
    text-align: center;
    font-size: 1.3rem;
    color: aliceblue;
}

nav a {
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
}

nav a:hover {
    background-color:darkcyan;
}

nav a.active {
    background-color:lightslategray;
}

#img-h1 {
    /*border: 3px solid red;*/
    margin-top: 50px;
    padding: 40px 5%;
    margin-left: 10%;
    margin-right: 10%;
}

header img,
header h1 {
    display:inline-block;
    vertical-align:middle;
}

header img {
    
}

header h1 {
    padding-left: 5%;
    font-size: 5rem;
    overflow-wrap:normal;
    max-height: 400px;
    max-width: 550px;
}

main {
    margin: 0 10% !important;
}

#img-heading {
    padding-top: 10px;
    padding-bottom: 10px;
}

#heading {
    padding-top: 10px;
    padding-bottom: 10px;
}

.info p {
    padding: 20px 0;
}

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 40px;
}

#flex-container2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 40px;
    padding-bottom: 40px;
}

#project1 {
    order: 1;
    margin-right: 40px;
    margin-left: 20px;
}

#project2 {
    order: 2;
    margin-right: 20px;
    margin-left: 40px;
}

#project3 {
    order: 1;
    margin-right: 40px;
    margin-left: 20px;
}

#project4 {
    order: 2;
    margin-right: 20px;
    margin-left: 40px;
}

footer {
    background-color: darkkhaki;
    color: darkslategray;
    font-size: 1.3rem;
    padding: 0 10%;
}

footer a {
    text-decoration: none;
    float: right;
    height: 50px;
    line-height: 50px;
    color: darkslategray;
    padding: 0 20px;
}

footer p {
    display:inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
}

footer a:hover {
    background-color:lightgoldenrodyellow;
}
