* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

body { 
    float: none !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 15px; 
    background-color:#028090;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* CSS for varying screen sizes*/
}

nav {
    position: fixed;
    top: 0;
    width: 95%;
    margin: 0 2.5%;
    background-color:#00A896;
    text-align: center;
    font-size: 1.3rem;
    color: aliceblue;
    border-radius: 0 0 10px 10px;
}

nav a {
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
}

nav a:hover {
    background-color:#05668D;
    border-radius: 0 0 10px 10px;
}

nav a.active {
    background-color:rgb(35, 81, 141);
    border-radius: 0 0 10px 10px;
}

#img-h1 {
    padding: 40px 5%;
    margin: 50px 10% 0;
}

header img,
header h1 {
    display:inline-block;
    vertical-align:middle;
}

header img {
    border: 5px solid aliceblue;
    border-radius: 15px;
}

header h1 {
    padding-left: 5%;
    font-size: 5rem;
    overflow-wrap:normal;
    max-height: 400px;
    max-width: 550px;
    color: aliceblue;
}

.info {
    /*background-color:#05668D;*/
    background-color:aliceblue;
    padding: 40px 0;
}

#p1-background {
    background-color:#02C39A;
    margin-left: 10%;
    margin-bottom: 40px;
    padding-right: 11%;
    padding-left: 1%;
    border-radius: 15px 0 0 15px;

}

#p2-background {
    background-color:#02C39A;
    margin-right: 10%;
    margin-bottom: 40px;
    padding-left: 11%;
    padding-right: 1%;
    border-radius: 0 15px 15px 0;
}

#p3-background {
    background-color:#02C39A;
    margin-left: 10%;
    padding-right: 11%;
    padding-left: 1%;
    border-radius: 15px 0 0 15px;
}

.info p {
    padding: 20px 0;
}

#flex-background {
    background-image: url(/flex-background.png);
    width: 100%;
    height: auto;
    background-position:left;
    background-repeat: no-repeat;
    background-size: cover;
}

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 40px;
    margin: 0 10%;
    margin-top: 40px;
}

#flex-container2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 10%;
    margin-bottom: 40px;
}

#project1 {
    order: 1;
    margin-right: 40px;
    margin-left: 20px;
    border: 5px solid aliceblue;
    border-radius: 15px;
}

#project2 {
    order: 2;
    margin-right: 20px;
    margin-left: 40px;
    border: 5px solid aliceblue;
    border-radius: 15px;
}

#project3 {
    order: 1;
    margin-right: 40px;
    margin-left: 20px;
    border: 5px solid aliceblue;
    border-radius: 15px;
}

#project4 {
    order: 2;
    margin-right: 20px;
    margin-left: 40px;
    border: 5px solid aliceblue;
    border-radius: 15px;
}

footer {
    background-color:#00A896;
    color:aliceblue;
    font-size: 1.3rem;
    padding: 0 10%;
    width: 95%;
    margin: 0 2.5%;
    border-radius: 10px 10px 0 0;
}

footer a {
    text-decoration: none;
    float: right;
    height: 50px;
    line-height: 50px;
    color: aliceblue;
    padding: 0 20px;
}

footer p {
    display:inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
}

footer a:hover {
    background-color:#05668D;
    border-radius: 10px 10px 0 0;
    color: aliceblue;
}
