* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1080px; 
    margin: 0 auto !important; 
    float: none !important; 
}

@media only screen and (min-resolution: 300dpi) {
    /* CSS for high resolution screens */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* CSS for varying screen sizes*/
}

nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

#img-heading {
    padding-top: 10px;
    padding-bottom: 10px;
}

#heading {
    border: rgb(0, 255, 128);
    border-style: dashed;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-content {
    border: blue;
    border-style: dashed;
}

#info {
    border: rgb(255, 166, 0);
    border-style: dashed;
}

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 40px;
}

#flex-container2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 40px;
    padding-bottom: 40px;
}

#project1 {
    order: 1;
    margin-right: 40px;
    margin-left: 20px;
}

#project2 {
    order: 2;
    margin-right: 20px;
    margin-left: 40px;
}

#project3 {
    order: 1;
    margin-right: 40px;
    margin-left: 20px;
}

#project4 {
    order: 2;
    margin-right: 20px;
    margin-left: 40px;
}