* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body { 
    float: none !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 15px; 
    background-color:darkseagreen;
}

/* Nav Section */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    color: white;
}

.nav__brand {
    font-size: 24px;
    margin: 11px; /*Cannot work out where 4px are coming from, hence 11px instead of 13px*/
}

.nav__ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav__list {
    list-style: none;
}

.nav__a {
    text-decoration: none;
    padding: 0 15px;
    display: block;
    line-height: 50px;
    color: white;
}

.nav__current {
    background-color: darkseagreen;
    color: white;
}

.nav__toggle-btn {
    position: absolute;
    top: 12.5px;
    right: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 25px;
}

.nav__bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.nav__list:hover {
    background-color: darkslategray;
}

.nav__a:hover {
    color: white;
}

@media (max-width: 560px) {
    .nav__toggle-btn {
        display: flex;
    }
    .nav__links {
        display: none;
        width: 100%;
    }
    .nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav__ul {
        flex-direction: column;
        width: 100%;
        background-color: cadetblue;
    }
    .nav__list {
        text-align: center;
    }
    .nav__a {
        line-height: 30px;
    }
    .nav__links.active {
        display: flex;
    }
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 250px;
}

.button-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px 0;
    width: 500px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px;
}

#value {
    color: white;
    font-size: 80px;
}

.btn {
    font-size: 35px;
    margin: 20px 5px;
    background-color: darkslategray;
    border-radius: 5px;
    padding: 0 5px;
    border: 3px solid darkslategray;
    box-shadow: 3px 3px black;
    color: white;
}

.btn:hover {
    background-color:darkslategray;
    cursor: pointer;
    color: aliceblue;
    border: 3px solid darkseagreen;
}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: 80px;
    }
    .button-container {
        width: 400px;
    }
    #value {
        font-size: 40px;
    }
    .btn {
        font-size: 25px;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 60px;
    }
    .button-container {
        width: 300px;
    }
    #value {
        font-size: 40px;
    }
    .btn {
        font-size: 20px;
        margin: 0 2px;
    }
}

@media screen and (orientation:landscape) and (max-height: 400px) {
    .container {
        height: 150px;
    }
    .button-container {
        padding: 0;
        width: 300px;
    }
    #value {
        font-size: 50px;
    }
    .btn {
        font-size: 16px;
    }
}

/* Contact-details Section */
.contact {
    background-color: cadetblue;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact__link {
    margin: 0 20px;
}

.fa-2x {
    margin: 10px 0;
    color: white;
}

.fa-2x:hover {
    color: darkslategray;
}