* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

body { 
    float: none !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 15px; 
    background-color:aliceblue;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:aliceblue;
    text-align: center;
    font-size: 2vw;
    color: cadetblue;
    border-bottom: 3px;
    border-style: solid; 
    border-color: darkslategray;
}

nav a {
    display: inline-block;
    color: cadetblue;
    text-decoration: none;
    width: 22vw;
    height: 3vw;
    line-height: 3vw;
    padding: 0 3vw;
}

nav a:hover {
    background-color:darkcyan;
    color: aliceblue;
    border-radius: 0 0 1vw 1vw;
}

nav a.active {
    background-color:cadetblue;
    border-radius: 0 0 1vw 1vw;
    color: aliceblue;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.h2-container {
    font-size: 30px;
}

.underline {
    height: 10px;
    width: 500px;
    background-color: aquamarine;
    margin: 0 auto;
}

.article-container {
    border-radius: 5px;
    border: 3px solid green;
    width: 350px;
    margin: 0 auto;
}

.img-container img {
    height: 300px;
}

#location {
    font-size: 30px;
}

#date {
    font-size: 25px;
}

#info {
    font-size: 20px;
}

.btn {
    font-size: 35px;
    background-color: aliceblue;
    border-radius: 5px;
    border: 3px solid aliceblue;
}

.btn:hover {
    background-color:darkslategray;
    cursor: pointer;
    color: aliceblue;
    border: 3px solid aliceblue;
}

/* .container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

h1 {
    color: aliceblue;
    font-size: 100px;
    background-color:darkseagreen;
    padding: 20px 0;
    margin: 10px 0;
}

.button-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px 0;
    margin: 20px 0;
    width: 500px;
    background-color: darkseagreen;
    border-radius: 5px;
}

#value {
    color: darkslategray;
    font-size: 80px;
    padding-top: 50px;
}

.btn {
    font-size: 35px;
    margin: 20px 5px;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 0 5px;
    border: 3px solid aliceblue;
}

.btn:hover {
    background-color:darkslategray;
    cursor: pointer;
    color: aliceblue;
    border: 3px solid aliceblue;
} */

footer {
    background-color:aliceblue;
    color:cadetblue;
    font-size: 2vw;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 3px;
    border-style: solid; 
    border-color: darkslategray;
}

footer p {
    text-align: center;
    height: 3vw;
    line-height: 3vw;
}