* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

body { 
    float: none !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 15px; 
    background-color:aliceblue;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#414833;
    text-align: center;
    font-size: 2vw;
}

nav a {
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    width: 22vw;
    height: 3vw;
    line-height: 3vw;
    padding: 0 3vw;
}

nav a:hover {
    background-color:#656d4a;
    color: aliceblue;
    border-radius: 0 0 1vw 1vw;
}

nav a.active {
    background-color:#c2c5aa;
    border-radius: 0 0 1vw 1vw;
    color: aliceblue;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.h2-container {
    font-size: 30px;
}

.underline {
    height: 10px;
    width: 350px;
    background-color: #a68a64;
    margin: 0 auto 20px;
    border-radius: 3px;
}

.article-container {
    border-radius: 30px;
    border: 3px solid #582f0e;
    width: 340px;
    margin: 0 auto;
    padding: 15px 15px;
    background-color: #b6ad90;
}

article h2,
p,
button {
    margin: 5px;
}

.img-container {
    width: 100%;
}

.img-container img {
    height: 300px;
    border-radius: 30%;
}

#location {
    font-size: 30px;
}

#date {
    font-size: 15px;
}

#info {
    font-size: 15px;
}

.btn {
    font-size: 20px;
    width: 100px;
    color: aliceblue;
    background-color: #a68a64;
    border-radius: 5px;
    border: 3px solid #582f0e;
    padding: 2px;
}

.btn:hover {
    background-color:#582f0e;
    cursor: pointer;
    color: aliceblue;
    border: 3px solid #582f0e;
}

footer {
    background-color:#414833;
    color:aliceblue;
    font-size: 2vw;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer p {
    text-align: center;
    height: 3vw;
    line-height: 3vw;
}