/* Heading Section */
.heading {
    background-image: url(../../Images/homepage-heading.png);
    background-size: cover;
    background-position:left;
}

.heading__container {
    padding: 40px 7%;
}

.heading__img,
.heading__title {
    display:inline-block;
    vertical-align:middle;
}

.heading__img {
    border-radius: 20px;
    box-shadow: 6px 8px 16px 6px rgba(0, 0, 0, 0.20), 6px 12px 40px 6px rgba(0, 0, 0, 0.19);
}

.heading__title {
    padding-left: 5%;
    font-size: 6.5vw;
    overflow-wrap:normal;
    width: 50%;
    height: 50%;
    color: $third-color;
}