* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

body { 
    float: none !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 15px; 
    background-color:#028090;
}

nav {
    position: fixed;
    top: 0;
    width: 95%;
    margin: 0 2.5%;
    background-color:#00A896;
    text-align: center;
    font-size: 2vw;
    color: aliceblue;
    border-radius: 0 0 2vw 2vw;
}

nav a {
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    width: 20vw;
    height: 3vw;
    line-height: 3vw;
    padding: 0 3vw;
}

nav a:hover {
    background-color:#05668D;
    border-radius: 0 0 1vw 1vw;
}

nav a.active {
    background-color:rgb(35, 81, 141);
    border-radius: 0 0 1vw 1vw;
}

#img-h1-background {
    background-image: url(../Images/homepage-heading.png);
    background-size: cover;
    background-position:left;
}

#img-h1 {
    padding: 4vw 5%;
    margin: 3vw 10% 0;
}

header img,
header h1 {
    display:inline-block;
    vertical-align:middle;
}

header img {
    border: 5px solid aliceblue;
    border-radius: 2vw;
}

header h1 {
    padding-left: 5%;
    font-size: 6.5vw;
    overflow-wrap:normal;
    width: 50%;
    height: 50%;
    color: aliceblue;
}

.info {
    background-color:aliceblue;
    padding: 2vw 0;
}

#p1-background {
    background-color:#02C39A;
    margin: 2vw 0 2vw 9%;
    padding: 0 11% 0 2%;
    border-radius: 2vw 0 0 2vw;
}

#p2-background {
    background-color:#02C39A;
    margin: 2vw 9% 2vw 0;
    padding: 0 2% 0 11%;
    border-radius: 0 2vw 2vw 0;
}

#p3-background {
    background-color:#02C39A;
    margin: 2vw 0 2vw 9%;
    padding: 0 11% 0 2%;
    border-radius: 2vw 0 0 2vw;
}

.info p {
    padding: 2vw 0;
    color: aliceblue;
}

#flex-background {
    background-image: url(../Images/flex-background.png);
    background-size: cover;
}

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 4vw 10%;
}

#flex-container2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 4vw 10%;
}

#project1 {
    order: 1;
    margin-right: 4vw;
    border: 5px solid aliceblue;
    border-radius: 2vw;
}

#project2 {
    order: 2;
    border: 5px solid aliceblue;
    border-radius: 2vw;
}

#project3 {
    order: 1;
    border: 5px solid aliceblue;
    border-radius: 2vw;
}

#project4 {
    order: 2;
    margin-left: 4vw;
    border: 5px solid aliceblue;
    border-radius: 2vw;
}

footer {
    background-color:#00A896;
    color:aliceblue;
    font-size: 2vw;
    padding: 0 5%;
    width: 95%;
    margin: 0 2.5%;
    border-radius: 2vw 2vw 0 0;
}

footer a {
    text-decoration: none;
    float: right;
    width: 20vw;
    text-align: center;
    height: 3vw;
    line-height: 3vw;
    color: aliceblue;
    padding: 0 3vw;
}

footer p {
    display:inline-block;
    height: 3vw;
    line-height: 3vw;
    padding: 0 3vw;
}

footer a:hover {
    background-color:#05668D;
    border-radius: 1vw 1vw 0 0;
    color: aliceblue;
}
