* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body { 
    float: none !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 15px; 
    background-color:#485262;
}

/* Nav Section */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #05668D;
}

.nav__brand {
    font-size: 24px;
    margin: 11px; /*Cannot work out where 4px are coming from, hence 11px instead of 13px*/
}

.nav__ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav__list {
    list-style: none;
}

.nav__a {
    text-decoration: none;
    padding: 0 15px;
    display: block;
    line-height: 50px;
    color: #05668D;
}

.nav__current {
    background-color: #485262;
    color: white;
}

.nav__toggle-btn {
    position: absolute;
    top: 12.5px;
    right: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 25px;
}

.nav__bar {
    height: 3px;
    width: 100%;
    background-color: #05668D;
    border-radius: 10px;
}

.nav__list:hover {
    background-color: #59d2fe;
}

.nav__a:hover {
    color: white;
}

@media (max-width: 560px) {
    .nav__toggle-btn {
        display: flex;
    }
    .nav__links {
        display: none;
        width: 100%;
    }
    .nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav__ul {
        flex-direction: column;
        width: 100%;
        background-color: white;
    }
    .nav__list {
        text-align: center;
    }
    .nav__a {
        line-height: 30px;
    }
    .nav__links.active {
        display: flex;
    }
}

header {
    text-align: center;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 500px;
}

#content {
    font-size: 30px;
    color: #05668D;
    background-color: aliceblue;
    text-align: center;
    border-radius: 1vw;
    width: 500px;
    height: 300px;
}

h2 {
    padding-top: 30px;
}

.btn {
    font-size: 30px;
    color: aliceblue;
    background-color: #59d2fe;
    display: inline-block;
    border-radius: 1vw;
    padding: 10px;
    width: 200px;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 40px;
}

.btn:hover {
    background-color:#05668D;
    cursor: pointer;
}

@media only screen and (max-width: 650px) {
    #content {
        font-size: 16px;
        height: 250px;
        width: 300px;
    }
    #content h2 {
        padding-top: 20px;
    }
    #container {
        width: 300px;
    }
}

@media screen and (orientation:landscape) and (max-height: 400px) {
    #content {
        font-size: 16px;
        height: 180px;
        width: 300px;
    }
    #content h2 {
        padding-top: 20px;
    }
    #container {
        width: 300px;
    }
    .btn {
        font-size: 25px;
        padding: 10px;
        width: 150px;
        height: 50px;
    }
}

/* Contact-details Section */
.contact {
    background-color: white;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact__link {
    margin: 0 20px;
}

.fa-2x {
    margin: 10px 0;
    color: #05668D;
}

.fa-2x:hover {
    color: #59d2fe;
}