* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

body { 
    float: none !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 15px; 
    background-color:#F0F3BD;
}

nav {
    position: fixed;
    top: 0;
    width: 95%;
    margin: 0 2.5%;
    background-color:#00A896;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    border-radius: 0 0 20px 20px;
    z-index: 100;
}

nav a {
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
}

nav a:hover {
    background-color:#05668D;
}

nav a.active {
    background-color:#F0F3BD;
    color: #00A896;
}

@media only screen and (min-width: 481px) and (max-width: 640px) {
    nav a {
        margin: 0;
        width: 130px;
    }

    nav {
        font-size: 25px;
    }
}

@media only screen and (max-width: 480px) {
    nav a {
        margin: 0;
        width: 80px;
    }

    nav {
        font-size: 15px;
    }
}

#about-background {
    background-image: url(../Images/about-heading-background.png);
    background-size: cover;
    background-position:left;
}

#img-about-me {
    padding: 40px 10%;
    margin-top: 40px;
    position: relative;
}

header img,
header h1 {
    display:inline-block;
    vertical-align:middle;
}

header img {
    border-radius: 20px;
    box-shadow: 6px 8px 16px 6px rgba(0, 0, 0, 0.20), 6px 12px 40px 6px rgba(0, 0, 0, 0.19);
}

header h1 {
    font-size: 6vw;
    overflow-wrap:normal;
    color: aliceblue;
    position: absolute;
    left:50%;
    transform: translate(-50%, -50%);
    top:50%;
    /* background-color: #81c3c9;
    padding: 5px;
    border-radius: 10px; */
}

#img2 {
    float: right;
}

#about-me-background {
    background:
    radial-gradient(circle at 100% 50%, transparent 20%, #F0F3BD 21%, #F0F3BD 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, #F0F3BD 21%, #F0F3BD 34%, transparent 35%, transparent) 0 -50px;
    background-color: #81c3c9;
    background-size:75px 100px;
}

#about-me p,
#about-me h3,
#about-me ul {
    padding: 20px;
    margin: 20px 10%;
    background-color: #028090;
    color: aliceblue;
    border-radius: 20px;
    box-shadow: 5px 5px darkslategray;
}

#about-me h3 {
    border-width: 5px;
    border-color: aliceblue;
    border-style: solid;
}

#about-me {
    padding: 20px 0;
    margin-bottom: 40px;
}

#lake {
    width: 100%;
    height: auto;
}

footer {
    background-color:#00A896;
    color:aliceblue;
    font-size: 30px;
    padding: 0 5%;
    width: 95%;
    margin: 40px 2.5% 0;
    border-radius: 20px 20px 0 0;
}

footer a {
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: aliceblue;
    padding: 0 10px;
}

#back {
    float: right;
    text-decoration: none;
    background-color:#05668D;
}

#email:hover {
    text-decoration: underline;
}

#back:hover {
    background-color:#F0F3BD;
    color: #05668D;
}

@media only screen and (min-width: 611px) and (max-width: 880px) {
    footer {
        font-size: 20px;
    }
    footer a {
        height: 30px;
        line-height: 30px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 610px) {
    footer {
        font-size: 15px;
    }

}

@media only screen and (max-width: 480px) {
    footer {
        font-size: 10px;
    }
    footer a {
        padding: 0 5px;
    }
}