/* Info Section */ 

.about-me {
    background:
    radial-gradient(circle at 100% 50%, transparent 20%, #F0F3BD 21%, #F0F3BD 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, #F0F3BD 21%, #F0F3BD 34%, transparent 35%, transparent) 0 -50px;
    background-color: #81c3c9;
    background-size:75px 100px;
    padding: 20px 0;
    margin-bottom: 20px;
}

.about-me__text,
.about-me__h3,
.about-me__ul {
    padding: 20px;
    margin: 20px 10%;
    background-color: #028090;
    color: aliceblue;
    border-radius: 20px;
    box-shadow: 5px 5px darkslategray;
}

.about-me__h3 {
    border-width: 5px;
    border-color: aliceblue;
    border-style: solid;
}

.lake {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}