/* Contact-details Section */
.contact {
    background-color: $nav-footer-color;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.fa-2x {
    margin: 10px 0;
    color: #028090;
}

.fa-2x:hover {
    color: #81c3c9;
}

.contact__link {
    margin: 0 20px;
}
