/* Image-presentation Section */

.images__container {
    padding: 40px 0;
    background-color: #028090;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 440px;
    width: 100%;
    background-color: #028090;
}

.images__background {
    background-color: #81c3c9;
    height: 300px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.images__calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 6px 8px 16px 6px rgba(0, 0, 0, 0.20), 6px 12px 40px 6px rgba(0, 0, 0, 0.19);
    z-index: 3;
    height: 250px;
    border-radius: 20px;
}

.images__nav {
    position: absolute;
    bottom: 0;
    left: 15%;
    box-shadow: 5px 5px darkslategrey;
    height: 200px;
    z-index: 2;
    border-radius: 20px;
}

.images__counter {
    position: absolute;
    top: 0;
    right: 15%;
    box-shadow: 5px 5px darkslategrey;
    height: 200px;
    z-index: 2;
    border-radius: 20px;
}

.images__clock {
    position: absolute;
    bottom: 0;
    right: 15%;
    box-shadow: 5px 5px darkslategrey;
    height: 200px;
    z-index: 2;
    border-radius: 20px;
}

.images__switch {
    position: absolute;
    top: 0;
    left: 15%;
    box-shadow: 5px 5px darkslategrey;
    height: 200px;
    z-index: 2;
    border-radius: 20px;
}

@media (max-width: 1180px) {
    .images__to-do,
    .images__counter,
    .images__swapper,
    .images__switch {
        height: 18vw;
    }
    .images__nav {
        height: 25vw;
    }
    .images {
        height: 40vw;
    }
    .images__background {
        height: 30vw;
    }
}