/* Heading Section */

.heading {
    background-color: aliceblue;
    width: 100%;
    height: 120px;
    margin-bottom: 40px;
}

.heading__title {
    text-align: center;
    font-size: 90px;
    color: #028090;
    margin: 40px 0;
    vertical-align: middle;
    line-height: 120px; 
}