/* Heading Section */

.heading {
    background-image: url(../Images/about-heading-background.png);
    background-size: cover;
    background-position:left;
}

.heading__title {
    text-align: center;
    font-size: 6vw;
    color: white;
    vertical-align: middle;
}

.heading-below {
    background-color: #028090;
    width: 100%;
    height: 40px;
}

@media (max-width: 600px) {
    .heading {
        background-image: url(../Images/projects-heading-background.png);
    }

    .heading__title {
        font-size: 10vw;
    }
}