/* Heading Section */

.heading {
    background-color: #02C39A;
    width: 100%;
    height: 120px;
}

.heading__title {
    text-align: center;
    font-size: 90px;
    color: white;
    vertical-align: middle;
    line-height: 120px; 
}

.heading-below {
    background-color: #028090;
    width: 100%;
    height: 40px;
}