$primary-fonts: "Trebuchet MS", Arial, Helvetica, sans-serif;
$font-size: 15px;
$primary-home-color: #028090;
$secondary-home-color: #02C39A;
$third-color: white;
$nav-footer-color: white;

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

body { 
    float: none !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 15px; 
    background-color: $primary-home-color;
}

.nav__list:hover {
    background-color: #81c3c9;
}

.nav__a:hover {
    color: $third-color;
}

@import "./nav";

@import "./about-heading";

@import "./about-info";

@import "./contact-details";