* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  float: none !important;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: #F0F3BD;
}

.nav__list:hover {
  background-color: #81c3c9;
}

/* Nav Section */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00A896;
  color: white;
}

.nav__brand {
  font-size: 24px;
  margin: 11px; /*Cannot work out where 4px are coming from, hence 11px instead of 13px*/
}

.nav__ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__list {
  list-style: none;
}

.nav__a {
  text-decoration: none;
  padding: 0 15px;
  display: block;
  line-height: 50px;
  color: white;
}

.nav__current {
  background-color: white;
  color: #00A896;
}

.nav__toggle-btn {
  position: absolute;
  top: 12.5px;
  right: 16px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  height: 25px;
}

.nav__bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 450px) {
  .nav__toggle-btn {
    display: flex;
  }
  .nav__links {
    display: none;
    width: 100%;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav__ul {
    flex-direction: column;
    width: 100%;
    background-color: #00A896;
  }
  .nav__list {
    text-align: center;
  }
  .nav__a {
    line-height: 30px;
  }
  .nav__links.active {
    display: flex;
  }
}
/* Heading Section */
.heading {
  background-image: url(../Images/about-heading-background.png);
  background-size: cover;
  background-position: left;
}

.heading__container {
  padding: 40px 10%;
  position: relative;
}

.heading__img,
.heading__title {
  display: inline-block;
  vertical-align: middle;
}

.heading__img {
  width: 30%;
  height: 30%;
  border-radius: 20px;
  box-shadow: 6px 8px 16px 6px rgba(0, 0, 0, 0.2), 6px 12px 40px 6px rgba(0, 0, 0, 0.19);
}

.heading__title {
  font-size: 6vw;
  overflow-wrap: normal;
  color: aliceblue;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.heading__img-right {
  float: right;
}

/* Info Section */
.about-me {
  background: radial-gradient(circle at 100% 50%, transparent 20%, #F0F3BD 21%, #F0F3BD 34%, transparent 35%, transparent), radial-gradient(circle at 0% 50%, transparent 20%, #F0F3BD 21%, #F0F3BD 34%, transparent 35%, transparent) 0 -50px;
  background-color: #81c3c9;
  background-size: 75px 100px;
  padding: 20px 0;
  margin-bottom: 20px;
}

.about-me__text,
.about-me__h3,
.about-me__ul {
  padding: 20px;
  margin: 20px 10%;
  background-color: #028090;
  color: aliceblue;
  border-radius: 20px;
  box-shadow: 5px 5px darkslategray;
}

.about-me__h3 {
  border-width: 5px;
  border-color: aliceblue;
  border-style: solid;
}

.lake {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

/* Contact-details Section */
.contact {
  background-color: #00A896;
  color: white;
}

.contact__link {
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: white;
  padding: 0 15px;
}

.contact__back {
  float: right;
  background-color: white;
  color: #00A896;
  text-decoration: none;
}

.contact__back:hover {
  background-color: #028090;
  color: white;
}

.contact__email:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 480px) {
  .contact {
    font-size: 10px;
  }
  .contact__link {
    padding: 0 5px;
  }
}/*# sourceMappingURL=about.css.map */